@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
}

#modal-overlay {
	z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.75);
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 25%;
	height: 25%;
	border: 1px solid #000;
	background-color: #FFFAFA;
	display: none;
	z-index: 2;
	border: 1px solid #000;
}

#modal-body {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#modal-btn {
	bottom: 0;
	margin: auto;
	overflow: hidden;
	width: 80%;
	padding-bottom: 10%;
}

#modal-btn .btn {
	margin-left: 15%;
	margin-right: 15%;
}

#modal-header {
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: #FF4500;
	color: #FFFFFF;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}