@CHARSET "UTF-8";

#container {
	height: 100%;
	width: 100%;
	background-color: #EEEEEE;
}

.header_title {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-radius: 10px;
}

.player_info {
	width: 85%;
	height: 5%;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	text-align: center;
	margin-top: 1%;
}

#start-div {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#start-btn {
	bottom: 5%;
	position: absolute;
}

#players {
	height: 100%;
	width: 25%;
	float: left;
	border-right: 1px solid;
}

#system {
	height: 100%;
	width: 75%;
	float: left;
}

#input-remark {
	font-size: 14px;
	font-weight: 400;
	width: 94.6%;
	padding: 6px 12px;
}

#player-form {
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	margin-right: auto;
}

#msgarea {
	overflow: scroll;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	height: 80%;
	width: 85%;
}

.player_msg {
	display: inline-block;
	margin-top: 1%;
}

.img_player {
	height: 10%;
	width: 10%;
	float: left;
}

.balloon {
	background-color: #EEEEEE;
	padding: 20px;
	position: relative;
	width: 15em;
	height: 10%;
	float: left;
}

.balloon:after {
	border-right: 12px solid #EEEEEE;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	content: '';
	margin-top: -10px;
	position: absolute;
	left: -12px;
	top: 50%;
}